<mat-expansion-panel class="flex flex-wrap border border-gray-300 rounded-lg shadow-sm !mb-4" (afterExpand)="isExpanded = true" (afterCollapse)="isExpanded = false" [expanded]="isExpanded" >
    <mat-expansion-panel-header class="flex flex-wrap items-center">
      <mat-panel-title class="font-semibold text-sm lg:text-lg xl:text-lg 2xl:text-lg" [ngClass]="[isExpanded ? 'w-full' : 'w-1/2', isCompletedControl.value ? '!text-gray-800':  'text-black']">
        {{ isExpanded ? todo()?.title : (todo()?.title! | truncate) }}
      </mat-panel-title>
      @if(!isExpanded) {
        <mat-panel-description class="flex justify-between items-center">
            <ng-container *ngTemplateOutlet="dateAndComplete"></ng-container>
        </mat-panel-description>
        }
    </mat-expansion-panel-header>
  
    <p class="text-gray-400 text-sm break-words overflow-hidden mt-2">
      {{ todo()?.description }}
    </p>

  
    <div class="flex flex-wrap items-center justify-end mt-4 gap-4">
        @if(isExpanded){
            <ng-container *ngTemplateOutlet="dateAndComplete"></ng-container>
        }

        <button
            mat-icon-button
            color="primary"
            (click)="handleOnEdit()"
            class="hover:text-accent-50"
        >
            <mat-icon>edit</mat-icon>
        </button>
        @if(!isMain()) {
            <button
                mat-icon-button
                color="primary"
                matTooltip="move todo to daily tasks"
                class="hover:text-accent-50"
                (click)="handleMoveTodo()"
            >
                <mat-icon>home</mat-icon>
            </button>
        }
        
        <button
            mat-icon-button
            color="warn"
            (click)="handleOnDelete()"
            class="hover:text-error-50"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </div>
  </mat-expansion-panel>


  <ng-template #dateAndComplete>
    <p class="text-sm text-gray-500" [ngClass]="[isExpanded ? 'w-full text-end': '', todo()?.date! | dateColor: todo()?.done!]">{{ todo()?.date| date: isExpanded ? 'medium' : 'mediumDate' }}</p>

        <mat-checkbox
            [formControl]="isCompletedControl"
            (change)="handleOnMarkComplete(); $event.source._elementRef.nativeElement.click()"
            class="text-sm text-gray-600"
            matTooltip="Mark as completed"
        >
        </mat-checkbox>
  </ng-template>