<section class="w-full h-full bg-white rounded-lg flex flex-wrap justify-center p-4 overflow-hidden">
    <header class="w-full flex justify-between my-4">
        <p class="font-semibold text-lg">{{data.isEditMode ? 'Edit' : 'Create'}} List Title</p>
        <button
            mat-icon-button
            color="warn"
            (click)="handleClose()"
            class="hover:text-error-50"
        >
            <mat-icon>close</mat-icon>
        </button>
    </header>
    <main class="w-full flex flex-wrap">
        <mat-form-field appearance="outline" class="w-full mb-4" >
            <input matInput [(ngModel)]="title" placeholder="List Title">
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="handleSubmit()">Confirm</button>
    </main>
</section>
