<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #sidenav 
    mode="side" 
    class="sidenav" 
    fixedInViewport="true" 
    [opened]="isDesktop" 
    [mode]="isDesktop ? 'side' : 'over'" 
    [disableClose]="isDesktop"
  >
    <mat-toolbar class="!bg-[#e1e1e161]">
      Todo Lists
    </mat-toolbar>
    <mat-nav-list class="!px-4">
      @for (item of navItems; track $index) {
        <mat-list-item [routerLink]="item.route" class="mb-2" >
          <div class="flex items-center">
            <span>{{ item.title }}</span>
            <mat-icon class="mx-2">{{ item.icon }}</mat-icon>          
          </div>
        </mat-list-item>
      }
      <mat-list-item class="">
        <button 
          mat-icon-button 
          class="w-full flex"
          (click)="handleAddList()"
        >
        <span class="text-accent-500">Add New List</span>
        <mat-icon class="font-semibold text-accent-500">add</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if(!isDesktop) {
        <button mat-icon-button class="mx-2" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Todo App</span>
      }
    </mat-toolbar>
    <main class="w-full h-full px-8">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>