<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" fixedInViewport="true" [opened]="isDesktop" [mode]="isDesktop ? 'side' : 'over'">
    <mat-toolbar>Todo Lists</mat-toolbar>
    <mat-nav-list>
      <mat-list-item routerLink="/daily">Daily</mat-list-item>
      <mat-list-item routerLink="/completed">Completed</mat-list-item>
      <mat-list-item routerLink="/custom">Custom List</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if(!isDesktop) {
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span>Todo App</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>