<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" fixedInViewport="true" [opened]="isDesktop" [mode]="isDesktop ? 'side' : 'over'">
    <mat-toolbar class="!bg-[#e1e1e161]">Todo Lists</mat-toolbar>
    <mat-nav-list class="!px-4">
      @for (item of navItems; track $index) {
        <mat-list-item [routerLink]="item.route" >
          <div class="flex items-center">
            <span>{{ item.name }}</span>
            <mat-icon class="mx-2">{{ item.icon }}</mat-icon>          </div>
        </mat-list-item>
      }
      
    </mat-nav-list>

    <button 
      mat-icon-button 
      class="group hover:bg-accent-300 w-full flex justify-center"
      (click)="handleAddList()"
      >
      <mat-icon class="rounded-full group-hover:text-white group-hover:bg-accent-300 ">add</mat-icon>
      <span class="group-hover:text-white group-hover:bg-accent-300">add new list</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if(!isDesktop) {
        <button mat-icon-button class="mx-2" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Todo App</span>
      }
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>